<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
<meta charset="ISO-8859-1">
<title>Product Edit</title>
</head>
<body>
<div layout:fragment="content">
<form action="#" th:action="@{doProductEdit}" th:object="${productModel}" method="post">
	<table style="width:90%">
		<tr>
			<td>Id (Cannot Edit):</td><td><input type="text" value="${productModel.id}" th:field="*{id}" readonly></td>
		</tr>
		<tr>
			<td>Product No:</td><td><input type="text" value="${productModel.productNo}" th:field="*{productNo}"></td><td><h5 style="color:red" th:if="${#fields.hasErrors('productNo')}" th:errors="*{productNo}">Error</h5></td>
		</tr>
		<tr>
			<td>Product Name:</td><td><input type="text" value="${productModel.productName}" th:field="*{productName}"></td><td><h5 style="color:red" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Error</h5></td>
		</tr>
		<tr>
			<td>Price:</td><td><input type="number" value="${productModel.price}" step="0.01" th:field="*{price}"></td><td><h5 style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</h5></td>
		</tr>
		<tr>
			<td>Quantity:</td><td><input type="number" value="${productModel.quantity}" th:field="*{quantity}"></td><td><h5 style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Error</h5></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="Submit" /></td>
		</tr>
	</table>
	<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
	<div th:each="err : ${#fields.errors('*')}">
		<span style="color:red" th:text="${err}" class="fieldError"></span>
    </div>
</form>
</div>
</body>
</html>